*{
    margin: 0%;
    padding: 0%;}
body{
    background-color: rgb(96, 96, 190);
}

p{
    white-space: nowrap;
    overflow: hidden;
    font-family: loto;
    font-size: 28px;
    color: yellow;
}

p{
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

@keyframes animated-text{
    from{width: 0%;}
    to{width: 502px;}
}
